<div class="container mt-4">
    <h2>{{ isEditing ? 'Editar' : 'Nuevo' }} Departamento</h2>
  
    <form [formGroup]="departamentoForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre">
        <div class="alert alert-danger" *ngIf="departamentoForm.get('nombre')?.invalid && (departamentoForm.get('nombre')?.dirty || departamentoForm.get('nombre')?.touched)">
          <div *ngIf="departamentoForm.get('nombre')?.errors?.['required']">
            El nombre es requerido.
          </div>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="ubicacion" class="form-label">Ubicación</label>
        <input type="text" class="form-control" id="ubicacion" formControlName="ubicacion">
        <div class="alert alert-danger" *ngIf="departamentoForm.get('ubicacion')?.invalid && (departamentoForm.get('ubicacion')?.dirty || departamentoForm.get('ubicacion')?.touched)">
          <div *ngIf="departamentoForm.get('ubicacion')?.errors?.['required']">
            La ubicación es requerida.
          </div>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="jefe_departamento" class="form-label">Jefe de Departamento</label>
        <input type="text" class="form-control" id="jefe_departamento" formControlName="jefe_departamento">
      </div>
  
      <div class="mb-3">
        <label for="extension" class="form-label">Extensión</label>
        <input type="text" class="form-control" id="extension" formControlName="extension">
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="departamentoForm.invalid">
        {{ isEditing ? 'Actualizar' : 'Crear' }} Departamento
      </button>
      <button type="button" class="btn btn-secondary ms-2" routerLink="/departamentos">Cancelar</button>
    </form>
  </div>